# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys

Subsystem	sftp	/usr/libexec/sftp-server

#Match User www-data
#	ChrootDirectory %h
#	ForceCommand internal-sftp
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
